.paginationD {
    margin-bottom: 19px;
    width: 100%;
}

.paginationD strong {
    background-color: #3C8DBC;
    color: #ffffff;
    display: inline-block;
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    font-weight: 700;
  margin-left: 4px;
    
    line-height:19px;
    text-align: center;
    width: 26px;
}


.paginationD a {
  background-color:#42AEED;
  color: #ffffff;
  display: inline-block;
  float: inherit;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 4px;
  text-align: center;
  width: 26px;
}


