* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#dedede;
  background-color: #849091;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  height:70%;
  background-color:#2B2B2A;
}

section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:490px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

.logout-btn{background: #00FBF5; color: #fff; padding: 3px 6px; position: absolute; top: 0; right: 38px}
.logout-btn a{text-decoration: none; color: #000}
.actv_user{background: #000; color: #dedede; padding: 3px 6px; position: absolute; top: 0; right: 138px;font-style: italic;
    margin: 5px 0;}
.actv_user a{text-decoration: none; color: #dedede;font-style: italic;
    margin: 5px 0;}
.actv_user span{color: cyan;}
.actv_user1{background: #000 none repeat scroll 0 0;
    color: #dedede;
    font-style: italic;
    margin: 5px 0;
    padding: 3px 6px;
    
    right: 218px;
    top: 90px;}

    .actv_user2{background: #000 none repeat scroll 0 0;
    color: #dedede;
    font-style: italic;
    margin: 5px 0;
    padding: 3px 6px;
    
    right: 218px;
    top: 90px;}

/*    .loader{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
animation: 2s linear 0s normal none infinite running spin;
border-color: #3498db #f3f3f3 #f3f3f3;
border-image: none;
border-radius: 50%;
border-style: solid;
border-width: 16px;
height: 120px;
width: 120px;
margin: 0 auto;
top:25%;
left: 0;
right: 0;
bottom: 0;
position: absolute;

}


@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}
 */

 .loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}